header {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%
}
h1 {
  z-index: 100;
  position: absolute;
  color: white;
  font-weight: bold;
  left: 150px;
  top: 100px;
}